.block1 {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-decoration: line-through;
    color: green;
    text-shadow: 1px 1px 1px #000000;
}
.block2 {
    font-family: "Open Sans", "Arial", sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    text-decoration: dashed;
    text-transform:uppercase;
}
.block3 {
    font-family:"Open Sans", "Arial", sans-serif;
    text-decoration: rgb(153, 0, 255) wavy overline;
    word-spacing: 30px;
    font-size: 20px;
    line-height: 30px;
    text-shadow: 1px 1px 1px #000000;
    color: #a303ff;
}
.block4 {
    font-family:"Open Sans", "Arial", sans-serif;
    color: #000000;
    font-size: 20px;
    line-height: 30px;
    text-decoration: #000000 double underline;
    letter-spacing: 5px;
}