* {
    box-sizing: border-box;
}

.group {
    background: #d8d8d8;
    overflow: auto;
    height: 800px;
    width: 1500px;
    border-radius:20px 0px 0px 20px ;
}

.preblock {
    background: #ffdca7;
    padding: 50px;
    display: inline-block;
    width:300px ;
    margin:12px ;
    border-radius: 20px;
    box-shadow: inset -2px 2px 20px black;
}